<h1>{{rental.owner}}'s {{rental.type}}</h1>



<ul>
  {{#each model as |iAmARental|}}
     {{rental-tile rentalInComponent=iAmARental update="update" destroyRental="destroyRental"}}
  {{/each}}
</ul>

{{new-rental save2="save3"}}



  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'contact'}}Click here to contact us.{{/link-to}}
